/*name:WangYumeng
  section:Introduction to HTML and CSS 	
  assignment description:index of a lemon pie
  contents:using basic css to create an index*/
body {
	background-image: url("images/wow2.jpg");
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	color:#404040;
	font-size: 14pt;
	font-family: Georgia, Garamond, serif ;
	padding-left: 50px;
	padding-right: 50px;
}
a:link{
	color: #A4A400;
	text-decoration: underline;
}
h1 {
	font-weight: bold;
	text-align: center;
	color: #8C8C8C;
	font-size: 28pt;
	font-family: Lucida Sans Unicode, Helvetica, Arial,  sans-serif;
	letter-spacing:2px;
	background:rgba(240,240,240,0.2);
	-moz-opacity=0.8;  
}
.linkpo{
	position:absolute;
  	left:100px;
 	top:550px;
}